* {
  box-sizing: border-box;
}

html, body, #app, div[data-reactroot] {
  height: 100%;
}

body {
  width: 100%;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 9px;
  background: rgb(249,219,61);
  color: #222;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

h1 {
  font-weight: normal;
  font-size: 2.25em;
  text-transform: uppercase;
  letter-spacing: -1px;
  text-align: center;
}

h2 {
  font-size: 1.25em;
  margin: 0 0 15px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

ul {
  padding: 0;  
}

p {
  margin: 0;
}

span {
  pointer-events: none;
}

code {
  font-family: monospace;
  font-size: .8em;
  font-weight: 100;
  pointer-events: none;
  background: rgba(0,0,0,.09);
  padding: 3px 4px;
  margin: 0 2px;
}

.score-container, .question-count {
  width: 250px;
  text-align: center;
}

.score-container h2, .question-count h2 {
  margin-bottom: 0;
  font-size: 2em;
  font-weight: 400;
}

.score, .question-number {
  font-size: 4em;
  font-weight: 100;
}

.description {
  font-size: 1.5em;
}

.questions {
  width: 85%;
  margin: 35px auto 0;
}

.question {
  font-size: 2em;
}

.question-answers {
  margin-top: .75em;
  padding-left: 1.2em;
}

.question-answer {
  list-style-type: lower-alpha;
  cursor: pointer;
  padding: .3em;
  margin-bottom: .3em;
  border: 5px solid transparent;
}

.question-answer span {
  line-height: 1.3;
}

.answer {
  font-size: 1em;
}

@keyframes slide-in {
  0%   { opacity: 0; transform: translate3d(40%, 0, 0); }
  100% { opacity: 1; transform: none; }
}

.question {
  display: none;
  animation: slide-in .4s ease;
}

.question:first-child {
  display: block;
}

.results-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  font-size: 1.75em;
  line-height: 1.75em;
  animation: slide-in .4s ease;
}

.results-total {
  margin-top: 15px;
  font-size: 1.1em;
}

.results-container a {
  position: relative;
  padding: 15px 30px;
  margin-top: 30px;
  border: 3px solid #111;
  background: none;
  cursor: pointer;
  font-size: .75em;
  transition: background .2s;
}

.results-container a:hover {
  background: rgba(255,255,255,.1);
}

.results-container a:active, {
  background: rgba(255,255,255,.5);
  top: -2px;
}

.wrong {
  background: rgba(236,100,75,.5);
  animation: shake 0.5s cubic-bezier(.35,.05,.20,.99) both;
}

.right {
  background: rgba(135,211,124,.5);
}

@keyframes shake {
  10%, 90% {
    transform: translateX(-1px);
  }
  20%, 80% {
    transform: translateX(1px);
  }
  30%, 50%, 70% {
    transform: translateX(-2px);
  }
  45%, 55% {
    transform: translateX(2px);
  }
}

.correct-modal {
  font-size: 5em;
  text-align: center;
  width: 100%;
  background: rgb(252, 235, 148);
  padding: 5%;
  will-change: transform;
  transform: scale(4);
  z-index: 2;
  opacity: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  display: none;
}

.correct-modal.modal-enter {
  display: flex;
  animation: modal-enter 2.3s ease-in both;
}

.praise, .points {
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
}

@keyframes modal-enter {
  0 {
    visibility: visible;
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  85% {
    opacity: 1;
    transform: scale(1);
  }
  99% {
    opacity: .5;
    transform: scale(1);
  }
  100% {
    display: none;
    transform: scale(1);
  }
}

@media (min-width: 600px) {
  body {
    font-size: 12px;
  }
}

@media (min-width: 900px) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 3em;
  }

  header {
    padding: 50px 0 30px;
  }

  .questions {
    width: 75%;
  }

  .question-answer:hover {
    border-color: rgba(0,0,0,.5);
  }

  .question-answer:focus {
    outline: gray solid 1px;
  }

  .correct-modal {
    height: 300px;
  }
}

@media (min-width: 1400px) {
  body {
    font-size: 16px;
  }

  .correct-modal {
    height: 400px;
  }
}

@media (min-width: 1600px) {
  body {
    overflow: hidden;
  }
}
